<h2> Join the exclusive investor community today!</h2><br>
<h5> Share ideas, review fundamentals, and collaborate with like-minded traders and investors.</h5><br>

<div class="col-md-6 col-md-offset-3">

	<div class="signup-form">
	
		<h2>Sign up</h2>

			<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			  <%= f.error_notification %>

			  <div class="form-inputs">
			    <%= f.input :email, required: true, autofocus: true %>
			    <%= f.input :username, required: true, autofocus: true %>
			    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
			    <%= f.input :password_confirmation, required: true %>
			  </div>

			  <div class="form-actions">
			    <%= f.button :submit, "Sign up", class:"btn-primary" %>
			  </div>
			<% end %>

			<%= render "devise/shared/links" %>
	</div>

</div>